<div class="flex flex-col h-screen">
    <div class="flex flex-grow justify-center items-center">
        <div class="w-full max-w-xs">
            <mat-card class="w-96">
                <h1 class="text-3xl text-center mt-4 text-blue-700">Login</h1>
                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="flex flex-col items-center p-6">
                    <mat-form-field class="mb-4 w-full">
                        <mat-label for="username">User Name</mat-label>
                        <input matInput class="w-full" type="text" formControlName="userName" id="username">
                    </mat-form-field>

                    <mat-form-field class="mb-4 w-full">
                        <mat-label for="password">Password</mat-label>
                        <input matInput class="w-full" type="password" formControlName="password" id="password">
                    </mat-form-field>

                    <div class="flex items-center justify-center">
                        <button mat-raised-button color="primary" type="submit"
                            class="mat-primary bg-blue-500 py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                            Login
                        </button>
                        <div class="flex-grow"></div>
                        <a routerLink="/register" class="text-black hover:text-blue-700 ml-8">Register page</a>
                    </div>
                </form>
            </mat-card>
        </div>
    </div>
</div>